.thumbnail {
	height: 100px;
	width:80px;
	vertical-align: middle;
}

.main-content .text {
	background-image: url("../images/HandLogo.jpg") !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: white;
	opacity: 0.75;
	text-align: center;
	height: 700px;
	padding-top: 100px;
}

.mission, .creator, .announcements {
	background-color: white;
	opacity: 0.85;
}

.page-header, .text h1 {
	font-family: 'Lobster', cursive;
}

.text p {
	font-family: 'Noto Serif', cursive;
}